  <!-- SECCION HABILITIES/SKILLS-->
  <section class="habilities">
    <div class="col6 skill1">
            <div class="caja-maestra"> 
                <div class="contenedor">
                    <h2>HARD SKILLS</h2>
            
                    <div class="skills">
                        <div class="detalles">
                            
                            <span>HTML</span>
                            <span>60%</span>
                            
                        </div>
            
                        <div class="menu">
            
                            <div id="html-menu">
                                 
                            </div>
            
                        </div>
                    </div>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>CSS</span>
                            <span>65%</span>
                        </div>
                        <div class="menu">
            
                            <div id="css-menu">
                                 
                            </div>
            
                        </div>
                    </div>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>JAVASCRIPT</span>
                            <span>45%</span>
                        </div>
            
                        <div class="menu">
            
                            <div id="js-menu">
                                 
                            </div>
            
                        </div>
                    </div>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>ANGULAR</span>
                            <span>45%</span>
                        </div>
            
                        <div class="menu">
            
                            <div id="angular-menu">
                                 
                            </div>
            
                        </div>
                    </div>
    
                    <div class="skills">
                      <div class="detalles">
                          <span>INGLÉS</span>
                          <span>45%</span>
                      </div>
          
                      <div class="menu">
          
                          <div id="ingles-menu">
                               
                          </div>
          
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col6 skill2">
            <div class="caja-maestra"> 
                <div class="contenedor">
                    <h2>SOFT SKILLS</h2>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>TRABAJO EN EQUIPO</span>
                            <span>90%</span>
                        </div>
            
                        <div class="menu">
            
                            <div id="trabajoEquipo-menu">
                                 
                            </div>
            
                        </div>
                    </div>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>MANEJO DE EMOCIONES</span>
                            <span>70%</span>
                        </div>
                        <div class="menu">
            
                            <div id="emociones-menu">
                                 
                            </div>
            
                        </div>
                    </div>
    
                      <div class="skills">
                        <div class="detalles">
                            <span>PROACTIVIDAD</span>
                            <span>95%</span>
                        </div>
                        <div class="menu">
            
                            <div id="proactividad-menu">
                                 
                            </div>
            
                        </div>
                    </div>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>COMUNICACION EFECTIVA</span>
                            <span>75%</span>
                        </div>
            
                        <div class="menu">
            
                            <div id="comEfectiva-menu">
                                 
                            </div>
            
                        </div>
                    </div>
            
                    <div class="skills">
                        <div class="detalles">
                            <span>PUNTUALIDAD</span>
                            <span>100%</span>
                        </div>
            
                        <div class="menu">
            
                            <div id="puntualidad-menu">
                                 
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>        
      </div>
      </section>

