<body class="banner2">
  <app-navbardash></app-navbardash>
  <app-banner-inicio></app-banner-inicio>
  <app-acercademidash></app-acercademidash>
  <app-experdash></app-experdash>
  <app-estudiosdash></app-estudiosdash>
  <app-diplomamodal1></app-diplomamodal1>
  <app-diplomamodal2></app-diplomamodal2>
  <app-diplomamodal3></app-diplomamodal3>
  <app-diplomamodal4></app-diplomamodal4>
  <app-diplomamodal5></app-diplomamodal5>
  <app-diplomamodal6></app-diplomamodal6>
  <app-diplomamodal7></app-diplomamodal7>
  <app-diplomamodal8></app-diplomamodal8>
  <app-habilidadesdash></app-habilidadesdash>
  <app-proyectosdash></app-proyectosdash>
  <app-footerdash></app-footerdash>
  <app-proyectounomodal></app-proyectounomodal>
  <app-proyectounotextmodal></app-proyectounotextmodal>
  <app-proyectodosmodal></app-proyectodosmodal>
  <app-proyectodostextmodal></app-proyectodostextmodal>
  <app-proyectotresmodal></app-proyectotresmodal>
  <app-proyectotrestextmodal></app-proyectotrestextmodal>
  <app-linkedinmodal></app-linkedinmodal>
  <app-gitmodal></app-gitmodal>
  <app-wppmodal></app-wppmodal>
 
   
<!--  
<div class="row">
    <div class="col-1">
      <nav class="vertical" id="list-tab" role="tablist">
        <ul>
          <li class="vertical">
            <a class="list-group-item list-group-item-action active text-white" id="list-redes-list"
              data-bs-toggle="list" href="#list-redes" role="tab" aria-controls="list-redes">
              <i class="fa-sharp fa-solid fa-share-nodes"></i> Redes</a>
          </li>
          <li class="vertical">
            <a class="list-group-item list-group-item-action text-white" id="list-banner-list" data-bs-toggle="list"
              href="#list-banner" role="tab" aria-controls="list-banner">
              <i class="fa-solid fa-image"></i> Banner</a>
          </li>
          <li class="vertical">
            <a class="list-group-item list-group-item-action text-white" id="list-infoBanner-list" data-bs-toggle="list"
              href="#list-infoBanner" role="tab" aria-controls="list-infoBanner">
              <i class="fa-solid fa-circle-info"></i> Info Banner</a>
          </li>
          <li class="vertical">
            <a class="list-group-item list-group-item-action text-white" id="list-acercaDeMi-list" data-bs-toggle="list"
              href="#list-acercaDeMi" role="tab" aria-controls="list-acercaDeMi">
              <i class="fa-solid fa-pen"></i> Acerca de mí</a>
          </li>
          <li class="vertical">
            <a class="list-group-item list-group-item-action text-white" id="list-experiencia-list"
              data-bs-toggle="list" href="#list-experiencia" role="tab" aria-controls="list-experiencia">
              <i class="fa-solid fa-briefcase"></i> Experiencia</a>
          </li>
          <li class="vertical">
            <a class="list-group-item list-group-item-action text-white" id="list-estudios-list" data-bs-toggle="list"
              href="#list-estudios" role="tab" aria-controls="list-estudios">
              <i class="fa-solid fa-user-graduate"></i> Estudios</a>
          </li>

          <li class="vertical">
            <a class="list-group-item list-group-item-action text-white" id="list-proyectos-list" data-bs-toggle="list"
              href="#list-proyectos" role="tab" aria-controls="list-proyectos">
              <i class="fa-solid fa-code"></i> Proyectos</a>
          </li>
          
          

        </ul>
      </nav>

    </div>

    <div class="col-sm-4 col-md-6 col-lg-8 col-xl-11 mt-2">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active text-white" id="list-redes" role="tabpanel"
          aria-labelledby="list-redes-list"><br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="linkedin" class="form-label">Linkedin</label>
                <input type="text" class="form-control" id="linkedin">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="github" class="form-label">GitHub</label>
                <input type="texto" class="form-control" id="github">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="whatsapp" class="form-label">WhatsApp</label>
                <input type="texto" class="form-control" id="whatsapp">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>
            </form>
          </div>
        </div>

        <div class="tab-pane fade text-white" id="list-banner" role="tabpanel" aria-labelledby="list-banner-list"><br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="banner" class="form-label">Banner</label>
                <input class="form-control" type="file" id="banner">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

            </form>
          </div>
        </div>

        <div class="tab-pane fade text-white" id="list-infoBanner" role="tabpanel"
          aria-labelledby="list-infoBanner-list"><br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="infoBanner" class="form-label">Info Banner</label>
                <textarea class="form-control" id="infoBanner"></textarea>

              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>
            </form>
          </div>
        </div>

        <div class="tab-pane fade text-white" id="list-acercaDeMi" role="tabpanel"
          aria-labelledby="list-acercaDeMi-list"><br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="acercaDeMi" class="form-label">Acerca De Mí</label>
                <textarea class="form-control" id="acercaDeMi"></textarea>

              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>
            </form>
          </div>
        </div>

        <div class="tab-pane fade text-white" id="list-experiencia" role="tabpanel"
          aria-labelledby="list-experiencia-list"><br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="experiencia1" class="form-label">Experiencia 1</label>
                <textarea class="form-control" id="experiencia1"></textarea>

              </div>

              <div class="my-3">
                <label for="experiencia1" class="form-label">Imagen Experiencia 1</label>
                <input class="form-control" type="file" id="experiencia1">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="experiencia2" class="form-label">Experiencia 2</label>
                <textarea class="form-control" id="experiencia2"></textarea>

              </div>

              <div class="my-3">
                <label for="experiencia2" class="form-label">Imagen Experiencia 2</label>
                <input class="form-control" type="file" id="experiencia2">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="experiencia3" class="form-label">Experiencia 3</label>
                <textarea class="form-control" id="experiencia3"></textarea>

              </div>

              <div class="my-3">
                <label for="experiencia3" class="form-label">Imagen Experiencia 3</label>
                <input class="form-control" type="file" id="experiencia3">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>
            </form>
          </div>
        </div>

        <div class="tab-pane fade text-white" id="list-proyectos" role="tabpanel"
          aria-labelledby="list-proyectos-list"><br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="proyectos1" class="form-label">Proyecto 1</label>
                <textarea class="form-control" id="proyectos1"></textarea>

              </div>

              <div class="my-3">
                <label for="proyectos1" class="form-label">Imagen Proyecto 1</label>
                <input class="form-control" type="file" id="proyectos1">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="proyectos2" class="form-label">Proyecto 2</label>
                <textarea class="form-control" id="proyectos2"></textarea>

              </div>

              <div class="my-3">
                <label for="proyectos2" class="form-label">Imagen Proyecto 2</label>
                <input class="form-control" type="file" id="proyectos2">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="proyectos3" class="form-label">Proyecto 3</label>
                <textarea class="form-control" id="proyectos3"></textarea>

              </div>

              <div class="my-3">
                <label for="proyectos3" class="form-label">Imagen Proyecto 3</label>
                <input class="form-control" type="file" id="proyectos3">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              </form>
              </div>
              </div>
              

        <div class="tab-pane fade text-white" id="list-estudios" role="tabpanel" aria-labelledby="list-estudios-list">
          <br>
          <div class="container px-5 mx-1">
            <form>
              <div class="my-3">
                <label for="estudiosPrimero" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosPrimero">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosSegundo" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosSegundo">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosTercero" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosTercero">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosCuarto" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosCuarto">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosQuinto" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosQuinto">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosSexto" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosSexto">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosSeptimo" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosSeptimo">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>

              <div class="my-3">
                <label for="estudiosOctavo" class="form-label">Estudios</label>
                <input class="form-control" type="file" id="estudiosOctavo">
              </div>

              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-success">Guardar</button>
              

            </form>
          </div>
        </div>
      </div>
    </div>

  <footer class="text-white text-center foot-bg">
    <div class="pt-2">
      <p>&copy Copyright Héctor Gerardo Robledo - 2023</p>
    </div>
  </footer>
  </div>-->
  </body>

