<section class="experiencia ">
    <div>
      
      <div class="text-white exp-tit">
        <h1 class="maquina">Experiencia Laboral</h1>
        </div>
        <br><br><br>
        <div class="row rowLaboral">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">
        <div class="card card-neon" style="width: 18rem">
          <img  src="/assets/img/noanet-logo2.jpg" class="card-img-top invertir-color" alt="...">
                    <div class="text" data-bs-toggle="modal" data-bs-target="#ModalPicExper">
            <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
            </div>
          <div class="card-body">
            
            <p class="card-text text-white text-center"><b>Empresa:</b> NOANET SA. <br><b>Puesto: </b>Ejecutivo/Supervisor de turno en Contact Center de dicha empresa.</p>
            <div class="text" data-bs-toggle="modal" data-bs-target="#ModalTextExper">
              <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
              </div>
          </div>
        </div>
        
        
        </div>
          
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card card-neon" style="width: 18rem">
          <img  src="/assets/img/reparadores.jpg" class="card-img-top" alt="...">
          <div class="text" data-bs-toggle="modal" data-bs-target="#ModalPicExper2">
            <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
            </div>
          <div class="card-body">
            <p class="card-text text-white text-center"><b>Empresa:</b> Los Reparadores <br><b>Puesto: </b>Dueño emprendimiento propio de reparación y mantenimiento de PC.</p>
            <div class="text" data-bs-toggle="modal" data-bs-target="#ModalTextExper2">
              <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
              </div>
          </div>
        </div>
        </div>
  
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="card card-neon" style="width: 18rem">
            <img  src="/assets/img/imagen1.jpg" class="card-img-top card-noanet" alt="...">
            <div class="text" data-bs-toggle="modal" data-bs-target="#ModalPicExper3">
              <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
              </div>
            <div class="card-body">
              <p class="card-text text-white text-center"><b>Empresa:</b> NOANET SA. <br><b>Puesto: </b>Ejecutivo/Lider de turno en Contact Center de dicha empresa. ghghghghggggggggggghg</p>
              <div class="text" data-bs-toggle="modal" data-bs-target="#ModalTextExper3">
                <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
                </div>
            </div>
          </div>
          </div>
        </div>          
        </div>      
  </section>
  <app-expermodal></app-expermodal>
  <app-experdescripcionmodal></app-experdescripcionmodal>
  <app-expermodal2></app-expermodal2>
  <app-experdescripcionmodal2></app-experdescripcionmodal2>
  <app-expermodal3></app-expermodal3>
  <app-experdescripcionmodal3></app-experdescripcionmodal3>