<ul class="list-group list-group-horizontal">      
    <li class="list-group-item">
        <a href="{{linked }}" target="_blank"><i
         class="{{ iconLinked }}"></i>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{{ git }}" target="_blank"><i
         class="{{ iconGit }}"></i>
        </a> 
    </li>        
    <li class="list-group-item">
        <a href="{{ wpp }}" target="_blank"><i
         class="{{ iconWpp }}"></i>
        </a>
    </li>
    <li class="list-group-item">
        <!--BOTON QUE ENVIA AL LOGGIN -->
        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="log rounded-circle user">
          <i class="fa-solid fa-user-lock fa-solid fa-camera fa-2x text-black user"></i>                  
          </button>  
      </li>
      </ul>