<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-blue">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Iniciar Sesión</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fondoBod">
            
              <div class="mb-3 row center">
                <label for="exampleInputEmail1" class="col-form-label text-white">Email</label>
                  
                <div class="col6">
                  <input type="text" class="form-control" id="exampleInputEmail1" value="email@dominio.com">
                  </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="exampleInputPassword1" class="col-form-label text-white">Contraseña</label>
                      <div class="col6">
                          <input type="password" class="form-control" id="exampleInputPassword1">
              
                      </div>
                      </div>
                  </div>

                  <div class="modal-footer fondoFoot">
                      <button type="button" class="btn fondoButInitSesion text-white" data-bs-dismiss="modal"><a class="text-white" routerLink="/dashboard">Iniciar Sesión</a></button>
                  </div>
                  </div>
                  </div>
              </div> 