<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header bg-blue">
     <h1 class="modal-tittle fs-5 text-white" id="exampleModalLabel">Stack</h1>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body fondoBod">
     <div class="mb-3 row center">
      <label for="linkedinModal" class="col-form-label text-white">Nuevo Stack</label>
      <input type="text" class="form-control" id="linkedinModal">
    </div>
    </div>
    <div class="modal-footer fondoFoot">
        <button type="button" class="btn fondoButInitSesion text-white" data-bs-dismiss="modal">Cancelar Cambios</button>
     <button type="button" class="btn fondoButInitSesion text-white" data-bs-dismiss="modal">Guardar Cambios</button>
    </div>
    </div>
    </div>
</div>

