/* You can add global styles to this file, and also import other style files */
body.banner2{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url(/assets/img/fondo_negro.webp);
  width: 100%;
  
}

body{
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

*{
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}
