.fondoFoot{
    background-color: rgba(0,0,0,1.0)
  }
  
  .fondoBod{
    background-color: rgba(0,0,0,1.0)
    
  }
  
  .modal-header{
    border: none;
    background-color: #26269c;
  }
  
  .modal-footer{
    border: none;
    
  }

  .fondoButInitSesion{
    background-color: #26269c;
    
  }
  
  a{
    text-decoration:none;
  }
  
  .modal-content{
    
    border: 2px solid white;
    box-shadow: inset 0 0 10px blue, 0 0 10px blue;
    
  }
