<nav class="navbar navbar-expand-lg bg-blue fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo3.png" alt="Bootstrap" class="w-50" />
    </a>
    <ul class="list-group list-group-horizontal">

      <div class="text" data-bs-toggle="modal" data-bs-target="#linkedinModal">
        <div class="btn-edit"><i class="fa-solid fa-pen positionPen"></i></div>
        </div>
      <li class="list-group-item">
        
        <a href="https://linkedin.com" target="_blank">
          <i class="fa-brands fa-linkedin fa-solid fa-camera fa-2x text-black"></i>
        </a>
      </li>

      <div class="text" data-bs-toggle="modal" data-bs-target="#gitModal">
        <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
      </div>
      <li class="list-group-item">
        <a href="https://github.com" target="_blank">
          <i class="fa-brands fa-github fa-solid fa-camera fa-2x text-black"></i>
        </a>
      </li>

      <div class="text" data-bs-toggle="modal" data-bs-target="#wppModal">
        <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
      </div>
      <li class="list-group-item">
        <a href="https://wa.me/5493816403715" target="_blank">
          <i class="fa-brands fa-whatsapp fa-solid fa-camera fa-2x text-black"></i>
        </a>
      </li>

      <li class="list-group-item">
        <!--BOTON QUE ENVIA AL LOGGIN -->

        <i class="fa-solid fa-user fa-2x text-black rounded-circle"></i>
      </li>
    </ul>
  </div>
</nav>
