 <!-- SECCION PROJECTS/PROYECTOS-->
 <section class="projects">
    <h1 class="proyectos text-white">Proyectos</h1>
    <div class="container-sup">


    <div class="card carduno" style="width: 18rem; height: 27rem;">
      <div class="text colorBgLapiz" data-bs-toggle="modal" data-bs-target="#proyectoUnoImagen">
        <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>      
      <img src="/assets/img/reparadores.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <div class="text" data-bs-toggle="modal" data-bs-target="#proyectoUnoText">
          <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>          
        <h5 class="card-title text-white">Los Reparadores</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>     
        <a href="https://www.facebook.com/lossreparadores/" target="_blank" class="btn btn-primary">Visitar</a>
      </div>     
    
    </div>

    <div class="card card2" style="width: 18rem; height: 27rem;">
      <div class="text colorBgLapiz" data-bs-toggle="modal" data-bs-target="#proyectoDosImagen">
        <div class="btn-edit"><i class="fa-solid fa-pen"></i></div> 
      <img src="/assets/img/imagen1.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <div class="text" data-bs-toggle="modal" data-bs-target="#proyectoDosText">
          <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>  
        <h5 class="card-title text-white">PROYECTO 2</h5>
        <p class="card-text text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum natus expedita.</p>
      </div>
        <a href="https://yb-iptv-para-todos.webnode.page/" target="_blank" class="btn btn-primary">Visitar</a>
      
      </div>
    </div>

    <div class="card card3" style="width: 18rem; height: 27rem;">
      <div class="text colorBgLapiz" data-bs-toggle="modal" data-bs-target="#proyectoTresImagen">
        <div class="btn-edit"><i class="fa-solid fa-pen"></i></div> 
      <img src="/assets/img/imagen1.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <div class="text" data-bs-toggle="modal" data-bs-target="#proyectoTresText">
          <div class="btn-edit"><i class="fa-solid fa-pen"></i></div>
        <h5 class="card-title text-white">PROYECTO 3</h5>
        <p class="card-text text-white">Some quick example text to the card title and make up the bulk of the card's content.</p>
      </div>
        <a href="https://yb-iptv-para-todos.webnode.page/" target="_blank" class="btn btn-primary">Visitar</a>
        
      </div>
    </div>
    </div>

  </section>  
<br>
  
